.text-primary{
    color: #FF8811 !important ;
}
header i{
    color: #4e4d4d ;
}
header i:hover{
    color: #FF8811;
}
nav ul.navbar-nav li:hover{
    background: linear-gradient(45deg, #ecbb8b, #FF8811,#FF8811);
}
nav.navbar{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
} 
nav a, a.navbar-brand{
    padding-top: 32px !important;
    padding-bottom: 32px !important;
    font-size: 24px;
}
/* carousel */
.main-slider img{
    max-height: 80vh !important;
   
   
}
.carousel-caption{
    background-color: rgb(231, 143, 93);
}
/* program styling */
.program{
    margin-bottom: 120px;
    margin-top: 120px;
}
.program .card img{
    height: 300px;
    opacity: .8;
}
.program .card {
    margin-top: 32px;
    margin-bottom: 32px;
}
.program .card:hover img{
    opacity: 1;

}
.program .card:hover .card-body{
    color: white;
    background: linear-gradient(to left, #63f5d59c, #2f50499c );
}
.plan{
    background: linear-gradient(45deg, #0f065d41, #20278341), url(../images/bb.jpg);
}
.choose{
    text-align: center;
    padding-top: 80px;
    margin-bottom: 80px;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.card-1{
    border-top: solid #6d87f8;
    background-color: white;
    color: #4e4d4d;
}
.middle-card{
    background: linear-gradient(45deg, #6d87f8, #5a8bc3);
    color: white;
}

.btn{
    padding: 10px;
    margin-left: 25px;
    
}
.btn-special{
    background: linear-gradient(45deg, #6d87f8, #5a8bc3);
    color: white;
}
.btn-light{
    color:#4e4d4d ;
}
.dollar{
    padding-bottom: 30px;
    padding-left: 25px;
    
}
.type{
    padding-left: 25px;  
    margin-top: 20px;
}
ul li{
    padding: 15px;
}