.text-primary{
    color: #FF8811 !important ;
}
header i{
    color: #4e4d4d ;
}
header i:hover{
    color: #FF8811;
}
.navbar{
top: fixed;
}
nav ul.navbar-nav li:hover{
    background: linear-gradient(45deg, #ecbb8b, #FF8811,#FF8811);
}
nav.navbar{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
} 
nav a, a.navbar-brand{
    padding-top: 32px !important;
    padding-bottom: 32px !important;
    font-size: 24px;
}
/* carousel */
.main-slider img{
    max-height: 80vh !important;
   
   
}
.carousel-caption{
    background-color: rgb(231, 143, 93);
}
/* program styling */
.program{
    margin-bottom: 120px;
    margin-top: 120px;
}
.program .card img{
    height: 300px;
    opacity: .8;
}
.program .card {
    margin-top: 32px;
    margin-bottom: 32px;
}
.program .card:hover img{
    opacity: 1;

}
.program .card:hover .card-body{
    color: white;
    background: linear-gradient(to left, #63f5d59c, #2f50499c );
}

/* Pricing section starts */
.plan{
    background: linear-gradient(45deg, #0f065dda, #20278341), url(../images/bb.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.choose{
    text-align: center;
    padding-top: 80px;
    margin-bottom: 80px;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.card-1{
    border-top: solid #6d87f8;
    background-color: white;
    color: #4e4d4d;
}
.middle-card{
    background: linear-gradient(45deg, #6d87f8, #5a8bc3);
    color: white;
}

.btn{
    padding: 10px;
    margin-left: 25px;
    
}
.btn-special{
    background: linear-gradient(45deg, #6d87f8, #5a8bc3);
    color: white;
}
.btn-light{
    color:#4e4d4d ;
}
.dollar{
    padding-bottom: 30px;
    padding-left: 25px;
    
}
.type{
    padding-left: 25px;  
    margin-top: 20px;
}
ul li{
    padding: 15px;
}

/* pricing section ends */
/* timetable */
.timetable{
    padding-top: 80px;
    padding-bottom: 80px;
}
.timetable p.title{
    background: linear-gradient(to left, #6d87f8, #5a8bc3);
    padding: 16px;
    color: #ffff;
    font-size: 24px;
    font-weight: 600;
}
.timetable img{
    width: 100px;       
    height: 100px;
    border-radius: 50%;
    
}
.row .row-1{
    padding: 20px;
    background-color: rgb(247, 242, 242);
}
.row .row-2{
    background-color: rgb(252, 215, 215);
    padding: 20px;
}
.gx-5{
    margin-left: 30px;
}
/* timetable section ends */

/* call-in-action begins */
.btn-custom{
    background: linear-gradient(to left, #6d87f8, #5a8bc3);
    border-radius: 0% !important;
    color: white;
}
.btn-custom:hover{
    background: linear-gradient(to right, #6d87f8, #5a8bc3); 
    transition: .7s ease-in;
    color: white;
}
.call-to-action{
background-image: url(../images/bb.jpg);
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
opacity: 100%;
}
.py-10{
    padding-top: 100px;
    padding-bottom: 100px;
}
/* call to action section ends */
/*Upper footer section begins */
ul{
    list-style-type: none;
}
.upper-footer{
    background-color: #19092c;
}
.white-text{
    color: white;
}
/*Upper footer section ends */

/* Lower footer section starts */


.last-piece .top-a{
    text-align: right !important;
    border-right: 1px solid white;
    padding: 5px;
}
.lower-footer{
    background-color: #130d1b;
}
/* lower footer section ends */